body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: #111;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.profile {
  width: 140px;
  border-radius: 50%;
}

.links a {
  margin: 10px;
  text-decoration: none;
  color: blue;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
}

/* SKILLS */
.skills-box {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.8;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.project a {
  color: green;
  text-decoration: none;
}

/* CONTACT */
#contact p {
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #eee;
}